.navbar-brand{
    font-size: 60px;
}
.center {
    display: block;
    margin-left: 717px;

  }

.keski{
    margin-left: 275px;
}
.sivu{
    float: right;
    margin-right: 22px;
}
  
.navbar-btn{
    align-content: center;
}

.valiotsikko{
    float: right;
    padding: 20px;
    width: 55.7%;
    margin-right: 50px;
}

.reunat{
  padding: 300px;
  border-style: solid;
  
}

.suositus{
    float: right;
    padding: 20px;
    width: 14%;
    margin-right: 6px;

}

.suosi{
    float: right;
    padding: 30px;
}

.suositus1{
    padding: 44px 43px;
    top: 8px;
    left: 16px;
    font-size: 15px;
}

.suositus2{
    padding: 44px 44px;
    top: 8px;
    right: 16px;
    font-size: 15px;
}

.suositus3{
    padding: 44px 51.7px;
    bottom: 8px;
    left: 16px;
    font-size: 15px;

} 

.suositus4{
    padding: 44px 44px;
    bottom: 8px;
    right: 16px;
    font-size: 15px;
  }
.w3-bar{
    font-size: 10px;
}

.w3-white{
    border-top: solid;
    border-left: solid;
    border-right: solid;
}
.tabcontent {

    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    
}

.w3-container{
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-top: solid slategray;

}

.juttu{
    border-style: solid;
    padding: 50px;
    margin-top: 30px;
    height: 300px;

}

.col-sm-4 {
   margin-top: 30px;
}


.col-sm-3 {
    border-right: 2px solid black;
    height: 700px;
}



hr.solid {
    border-top: 3px solid #bbb;
  }

.dropbtn {
    background-color: #737b80;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #9ea19e;}
